.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    perspective: 800px;
}

.header #card-content {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    position: relative;
    transition: transform 1.5s ease-in-out; 
}
.header .photo {
    width: 200px;
    height: 200px;
    border: 1px solid #0288D1;
    border-radius: 50%;
}

.header #card-front,
.header #card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.header #card-back {
    transform: rotateY(180deg);
}

.header #card-content:hover {
    transform: rotateY(540deg);
}

.header .title {
    text-align: center;
    font-family: 'Neue Machina';
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.informations p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}

.informations p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.informations .job::before {
    background-image: url('../img/icons/job.svg');
}

.informations .location::before {
    background-image: url('../img/icons/location.svg');
}

.informations .phone::before {
    background-image: url('../img/icons/phone.svg');
}

.informations .email::before {
    background-image: url('../img/icons/email.svg');
}

.informations .linkedin::before {
    background-image: url('../img/icons/linkedin.svg');
}

.informations .github::before {
    background-image: url('../img/icons/github-blue.svg');
}

.informations .curriculo::before {
    background-image: url('../img/icons/cv.svg');
}


@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
            "photo title"
            "photo informations"
        ;
        justify-content: space-around;
        align-content: center;
    }

    .header #wrapper {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 220px;
    }

    .header .informations {
        grid-area: informations;
    }
    
}
